.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 40px;

  &__title {
    margin: 30px 0 30px 30px;

    @media screen and (min-width: 1507px) {
      margin: 30px 0 30px 0;
    }
  }

  &__number-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px;
    border: 1px solid $color-primary;
    background: $color-primary;
    color: whitesmoke;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  &__content {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    align-items: center;
  }

  ul {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0px solid $color-primary;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 300px;
    height: 50px;
    &:hover {
      cursor: pointer;
      background: rgba(170, 5, 170, 0.071);
      color: rgba(170, 5, 170, 0.446);
    }
  }
  a {
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }
}
